@import "../../scss/colors.scss";


.container_header {
    display: flex;
    flex: 0.88;
    flex-direction: column !important;
    margin: 20px 0;

    .bg_transparent {
        background-color: transparent;
        width: 220px
    }

    .button_back {
        display: flex;
        align-items: center;
        min-width: 220px;
        justify-content: space-evenly;
        transform: translate(-10px, 0);
        padding-left: 0;
        border: none;
        outline: none;
        color: $white;
        font-family: Poppins;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }

        &:active {
            opacity: 0.9;
            color: $primary;
        }
    }

    .container_nav {
        display: flex;
        flex-direction: row;
        margin: 22px 0;
        
        ul {
            display: flex;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 20px;
            
            li {
                // padding: 20px;
                margin: 0 20px;

                &:first-child {
                    margin-left: 0;
                }
                
                a {
                    padding: 20px 0;
                    font-weight: normal;
                    
                    &.active {
                        border-bottom: 1px solid $primary;
                        font-weight: 600;
                        color: $primary;
                    }
                }
            }
        }

        .right_menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 390px;
            background-color: $lightBlack5;
            border-radius: 12px;
            height: 38px;
            opacity: 0.8;
            padding: 0 !important;
            margin: 0;
            
            .button {
                background-color: transparent;
                border: none;
                outline: none;
                padding: 7px 15px;
                color: $white;
                border-radius: 12px;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                    color: $primary;
                }

                &.active {
                    background-color: $lightBlue;
                    pointer-events: none;
                }
            }

        }
        .btn_single {
            @extend .button_back;

            min-width: 160px;
            background-color: $lightBlack5;
            border-radius: 8px;
            padding: 8px 0;
        }

    }
}