.__PowerBetLive{
    .__powerbet-live-right{
        box-shadow: -4px 0 38px 0 rgba(4, 4, 4, 0.58);
        background-color: #202124;
        width: 357px;
    }
    .__left{
        .__introduction{
            height: 564px;
            overflow: hidden;
            .__player-image{
                width: 11.2em;
                top: 3.6em;
            }
            .__intoduction-btns{
                >button:not(:first-child){
                    margin-left: 0.8em;
                }
            }
        }
        >.__main{
            .__title{
                font-size: 36px;
            }
            .__Winning-Bets{
                border-radius: 32px 32px 0 0;
                box-shadow: inset 0 -22px 14px 0 rgba(0, 0, 0, 0.5);
                background-color: #17181a;
                padding: 1.1em 2.2em;
                .__circle, svg{
                    width: 1.7em;
                    height: 1.7em;
                    border: 2px solid #fff;
                    border-radius: 1em;
                    margin: 1px;
                }
                svg{
                    border-color: #1bbb85;
                    background: #1bbb85;
                }
            }
        }
        .__players-wrapper{
            border: solid 2px #000000;
            background-color: #17181a;
            border-radius: 11px;
            max-height: 610px;
            margin-bottom: 9em;
            top: -2px;
        }
    }
}