@import '../../scss/colors.scss';

.__Spinner {
    display: inline-block;
    position: relative;
    width: 7em;
    height: 7em;
    border: 1px solid;
    &::after{
        left: 0;
        top: 0;
        content: '';
        position: absolute;
        width: calc(100% - 1.6em);
        height: calc(100% - 1.6em);
        border: 0.8em solid;
        border-radius: 50%;
        animation: Spinner 1.2s infinite;
        border-color: $primary transparent transparent transparent;
    }
}
@keyframes Spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  