@import '../../scss/colors.scss';

.__left-Timer{
    width: 3.857rem;
    height: 3.857rem;
    position: relative;
    &::after, &::before{
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        border-radius: 50%;
    }
    &::after{
        border: 10px solid  $primary;
        left: 0;
        top: 0;
        animation: 0.3s Spinner infinite;
    }
    &::before{
        width: 100%;
        height: 100%;
        border: 10px solid rgba($color: $primary, $alpha: 0.6);
    }
}

@keyframes Spinner{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}