@import '../../scss/colors.scss';

.__power_center_card {
    width: 280px;
    height: 380px;
    border-radius: 8px;
    background-color: $black2;
    display: flex;
    flex-direction: column;

    .__power_center_card_powerdfs {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .__power_center_card_powerdfs_hr {
            width: 30px;
            height: 1px;
            border: solid 2px $grey2;
        }

        .__power_center_card_powerdfs_hr_left {
            margin: 14px 13px 13px 0;
        }

        .__power_center_card_powerdfs_hr_right {
            margin: 14px 0 13px 13px;
        }

        .__power_center_card_powerdfs_title {
            width: 150px;
            height: 28px;
            margin: 10 13px 20px;
            font-family: Poppins;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $primary;

            .__power_center_card_powerdfs_title_first {
                color: $grey2;
            }
        }
    }

    .__power_center_card_prize_pool {
            margin: 0 auto;

        .__power_center_card_prize_pool_common {
            width: 100%;
            height: 40px;
            font-family: Poppins;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: $grey2;
        }

        .__power_center_card_prize_pool_price {
            font-size: 34px;
            margin-bottom: 5px;
        }

        .__power_center_card_prize_pool_text {
            opacity: 0.6;
        }
    }

    .__power_center_card_enter {
        button {
            width: 166px;
            height: 38px;
            margin: 100px 43px 50px 57px;
            padding: 7px 41px 8px;
            border-radius: 6px;
            border: solid 1px $primary;
            background-color: $black3;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $primary;
            outline: none;
        }
    }

    .__power_center_card_total {
        p {
            width: 100%;
            height: 25px;
            margin: 0 12px 3px 20px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;

            span {
                font-size: 14px;
                font-weight: 300;
                opacity: 0.6;
            }
        }
    }

    .__power_center_card_status_and_details {
        display: flex;
        flex-direction: row;
        
        .__power_center_card_status_text {
            p {
                width: 100%;
                height: 20px;
                margin: 3px 9px 0 20px;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $white1;
            }
        }

        .__power_center_card_progress_bar_outer {
            width: 80px;
            height: 6px;
            margin: 10px 0 7px 9px;
            padding: 1px 55px 1px 1px;
            border-radius: 3px;
            background-color: $grey10;

            .__power_center_card_progress_bar_inner {
                width: 24px;
                height: 4px;
                border-radius: 3px;
                background-color: $primary;
            }
        }

        .__power_center_card_details {
            display: flex;
            flex-direction: row;
            flex: 1;
            margin-right: 10px;

            .__power_center_card_details_link {
                width: 100%;
                height: 17px;
                margin: 0 5px 0 0;
                font-family: Poppins;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $primary;
                text-decoration: underline;
                cursor: pointer;
            }

            .__power_center_card_details_link_forward_arrow {
                width: 4px;
                height: 6px;
                color: $primary;
            }
        }
    }
}