 @font-face {
     font-family:"Gotthard";
     src:url("gotthard.eot?") format("eot"),url("gotthard.woff") format("woff"),url("gotthard.ttf") format("truetype"),url("gotthard.svg#Gotthard") format("svg");
     font-weight:normal;font-style:normal;
}