.__PowerBetContest{   
    .__intoduction{
        background-color: rgba(0, 0, 0, 0.36);
        padding: 0.1px;
        background-image: url('../../assets/group-3.jpg');
    }
    .__flex-btns{
        max-width: 35.4em;
        .__btn:first-child{
            margin-right: 1.5em;
        }
    }
    .__main{
        background-color: #202124;
        padding: 0.1px;
    }
    .__right-panel{
        box-shadow: -4px 0 38px 0 rgba(4, 4, 4, 0.58);
        background-color: #202124;
        width: 357px;
    }
    .__outline-badges-wrapper{
        >div{
            margin: 0 0.5em;
        }
    }
    .__players-wrapper{
        border: solid 2px #000000;
        background-color: #17181a;
        border-radius: 11px;
        max-height: 600px;
    }
    .__winner-prize{
        font-size: 28px;
        .__badge{
            font-size: 32px;
        }
    }
    .__search-container{
        svg{
            position: absolute;
            left: 1.6em;
            top: 50%;
            transform: translateY(-50%);
            color: #909192;
        }
        .__input-field{
            width: 100%;
            padding-left: 3.2em !important;
        }
    }
}