@import "../../scss/colors.scss";

.__max_height {
  height: 113vh;
}
.__max_width {
  width: 25%;
}

.__header_bottom {
  margin: 0 auto;
  font-size: 18px;
}

.__btn_bg {
  background-color: $lightPrimary !important;
}
