@import "../../scss/colors.scss";

.header_wrapper {
  background-image: url("../../assets/home_page_header_background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
  .header_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header_title {
      background-color: $primary;
      padding: 8px 22px;
      font-size: 42px;
      font-weight: bold;
      border-radius: 6px;
      letter-spacing: -0.5px;
      text-shadow: 0 2px 14px $black5;
      margin: 8.6em 0 10px 0;

      sup {
        font-size: 18px;
        margin-left: 0.3em;
        position: relative;
        top: -0.4em;
        text-transform: uppercase;
      }
    }

    p {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }

    .header_body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      .p1 {
        width: 392px;
        height: 75px;
        margin: 30px 75px;
        text-shadow: 0 2px 14px $black5;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        text-align: center;
        color: $white;
      }

      .p2 {
        width: 35%;
      }

      .header_btn {
        padding: 13px 19px;
        border: 2px solid $primary;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: $primary;
        margin: 3em 0 0 0;
      }

      .header_btn_bg {
        background-color: $lightPrimary;
      }
    }

    .p3 {
      display: flex;
      width: 90%;
      justify-content: flex-end;
      height: 20px;
      margin: 62px 100px 15px 140px;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: italic;
      line-height: normal;
      letter-spacing: normal;
      color: $white;
    }

    .header_main_power_up_btn {
      width: 236px;
      height: 48px;
      margin: 30px 153px 0;
      border-radius: 6px;
      box-shadow: 0 0 14px 0 $black5;
      border: solid 2px $primary;
      background-color: $primaryLight2;
      font-family: Teko;
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f2f2f2;
      outline: none;
    }
  }
}

@media (max-width: 1280px) {
  .header_wrapper {
    background-image: url("../../assets/home_page_header_background.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .header_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header_title {
        background-color: $primary;
        padding: 6px 18px;
        font-size: 34px;
        font-weight: bold;
        border-radius: 6px;
        letter-spacing: -0.5px;
        text-shadow: 0 2px 14px $black5;
        margin: 8.6em 0 10px 0;

        sup {
          font-size: 14px;
          margin-left: 0.3em;
          position: relative;
          top: -0.4em;
          text-transform: uppercase;
        }
      }

      p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }

      .header_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        .p1 {
          width: 392px;
          height: 75px;
          margin: 30px 75px;
          text-shadow: 0 2px 14px $black5;
          font-family: Poppins;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.13px;
          text-align: center;
          color: $white;
        }

        .p2 {
          width: 35%;
        }

        .header_btn {
          padding: 13px 19px;
          border: 2px solid $primary;
          border-radius: 6px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          color: $primary;
          margin: 3em 0 0 0;
        }
      }

      .header_main_power_up_btn {
        width: 236px;
        height: 48px;
        margin: 30px 153px 0;
        border-radius: 6px;
        box-shadow: 0 0 14px 0 $black5;
        border: solid 2px $primary;
        background-color: $primaryLight2;
        font-family: Teko;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f2f2f2;
        outline: none;
      }
    }
  }
}

@media (max-width: 1124px) {
  .header_wrapper {
    background-image: url("../../assets/home_page_header_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
    .header_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header_title {
        background-color: $primary;
        padding: 6px 18px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 6px;
        letter-spacing: -0.5px;
        text-shadow: 0 2px 14px $black5;
        margin: 8.6em 0 10px 0;

        sup {
          font-size: 12px;
          margin-left: 0.3em;
          position: relative;
          top: -0.4em;
          text-transform: uppercase;
        }
      }

      p {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
      }

      .header_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        .p1 {
          width: 392px;
          height: 75px;
          margin: 30px 75px;
          text-shadow: 0 2px 14px $black5;
          font-family: Poppins;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.13px;
          text-align: center;
          color: $white;
        }

        .p2 {
          width: 35%;
        }

        .header_btn {
          padding: 9px 14px;
          border: 2px solid $primary;
          border-radius: 6px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          color: $primary;
          margin: 3em 0 0 0;
        }
      }

      .p3 {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        height: 20px;
        margin: 62px 100px 15px 140px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: normal;
        color: $white;
      }

      .header_main_power_up_btn {
        width: 236px;
        height: 48px;
        margin: 30px 153px 0;
        border-radius: 6px;
        box-shadow: 0 0 14px 0 $black5;
        border: solid 2px $primary;
        background-color: $primaryLight2;
        font-family: Teko;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f2f2f2;
        outline: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header_wrapper {
    background-image: url("../../assets/home_page_header_background.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .header_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header_title {
        background-color: $primary;
        padding: 4px 14px;
        font-size: 28px;
        font-weight: 600;
        border-radius: 6px;
        letter-spacing: -0.5px;
        text-shadow: 0 2px 14px $black5;
        margin: 8.6em 0 10px 0;

        sup {
          font-size: 12px;
          margin-left: 0.3em;
          position: relative;
          top: -0.4em;
          text-transform: uppercase;
        }
      }

      p {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
      }

      .header_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        .p1 {
          width: 392px;
          height: 75px;
          margin: 20px 75px;
          text-shadow: 0 2px 14px $black5;
          font-family: Poppins;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.13px;
          text-align: center;
          color: $white;
        }

        .p2 {
          width: 35%;
        }

        .header_btn {
          padding: 11px 14px;
          border: 2px solid $primary;
          border-radius: 6px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          color: $primary;
          margin: 3em 0 0 0;
        }

        .header_btn_bg {
          background-color: $lightPrimary;
        }
      }

      .p3 {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        height: 20px;
        margin: 21px 100px 15px 140px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: normal;
        color: $white;
      }

      .header_main_power_up_btn {
        width: 236px;
        height: 48px;
        margin: 20px 153px 0;
        border-radius: 6px;
        box-shadow: 0 0 14px 0 $black5;
        border: solid 2px $primary;
        background-color: $primaryLight2;
        font-family: Teko;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f2f2f2;
        outline: none;
      }
    }
  }
}

@media (max-width: 540px) {
  .header_wrapper {
    background-image: url("../../assets/home_page_header_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 4em 0 0 0;

    .header_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header_title {
        background-color: transparent;
        font-size: 36px;
        font-weight: bold;
        border-radius: 0;
        letter-spacing: -0.5px;
        height: 80px;
        line-height: 35px;
        text-shadow: none;
        margin: 7em 0 0 0;
        width: 50%;
        padding: 0;
        text-align: center;

        sup {
          font-size: 14px;
          margin-left: 0.3em;
          position: relative;
          top: -0.4em;
          text-transform: uppercase;
        }
      }

      p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }

      .header_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        .p1 {
          width: 392px;
          height: 75px;
          margin: 30px 75px;
          text-shadow: 0 2px 14px $black5;
          font-family: Poppins;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.13px;
          text-align: center;
          color: $white;
        }

        .p2 {
          width: 35%;

          span {
            color: $primary;
          }
        }

        .header_btn {
          padding: 12px 13px;
          border: 2px solid $primary;
          border-radius: 6px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
          color: $primary;
          margin: 1em 0 0 0;
        }

        .header_btn_bg {
          background-color: $lightPrimary;
        }
      }

      .p3 {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        height: 20px;
        margin: 62px 100px 15px 140px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: normal;
        color: $white;
      }

      .header_main_power_up_btn {
        width: 236px;
        height: 48px;
        margin: 30px 153px 0;
        border-radius: 6px;
        box-shadow: 0 0 14px 0 $black5;
        border: solid 2px $primary;
        background-color: $primaryLight2;
        font-family: Teko;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f2f2f2;
        outline: none;
      }
    }
  }
}

@media (max-width: 414px) {
  .header_wrapper {
    background-image: url("../../assets/home_page_header_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 4.5em 0 0 0;

    .header_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header_title {
        background-color: transparent;
        font-size: 36px;
        font-weight: bold;
        border-radius: 0;
        letter-spacing: -0.5px;
        height: 80px;
        line-height: 35px;
        text-shadow: none;
        margin: 5em 0 0px 0;
        width: 70%;
        padding: 0;
        text-align: center;

        sup {
          font-size: 14px;
          margin-left: 0.3em;
          position: relative;
          top: -0.4em;
          text-transform: uppercase;
        }
      }

      p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }

      .header_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        .p1 {
          width: 85%;
        }

        .p2 {
          width: 50%;

          span {
            color: $primary;
          }
        }

        .header_btn {
          padding: 12px 13px;
          border: 2px solid $primary;
          border-radius: 6px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
          color: $primary;
          margin: 1em 0 0 0;
        }

        .header_btn_bg {
          background-color: $lightPrimary;
        }
      }

      .p3 {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        height: 20px;
        margin: 62px 100px 15px 140px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: normal;
        color: $white;
      }

      .header_main_power_up_btn {
        width: 236px;
        height: 48px;
        margin: 30px 153px 0;
        border-radius: 6px;
        box-shadow: 0 0 14px 0 $black5;
        border: solid 2px $primary;
        background-color: $primaryLight2;
        font-family: Teko;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f2f2f2;
        outline: none;
      }
    }
  }
}

@media (max-width: 360px) {
  .header_wrapper {
    background-image: url("../../assets/home_page_header_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 4.5em 0 0 0;

    .header_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header_title {
        background-color: transparent;
        font-size: 36px;
        font-weight: bold;
        border-radius: 0;
        letter-spacing: -0.5px;
        height: 80px;
        line-height: 35px;
        text-shadow: none;
        margin: 4.5em 0 0px 0;
        width: 80%;
        padding: 0;
        text-align: center;
      }

      .header_body {
        .p1 {
          width: 95%;
        }

        .p2 {
          width: 65%;
        }
      }
    }
  }
}
