@import "../../scss/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    padding: 0 0 0 50px;
    position: relative;

    .container_left_side {
      width: 71%;
      margin-bottom: 50px;

      > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      .left_side_footer {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin: 80px 0;

        img {
          width: 100%;
        }
      }
    }

    .sidebar_container {
      > div {
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .sidebar_content {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        background-color: $black2;
        padding: 20px 5px;
        border-radius: 14px;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        p {
          font-family: Teko;
          font-size: 30px;
          font-weight: 600;
          color: $grey2;

          span {
            font-family: Teko;
            color: $primary;
          }
        }

        .sidebar_content_1 {
          display: flex;
          flex-wrap: wrap;
          width: 280px;
          height: 360px;
          justify-content: space-between;
          align-items: center;

          .sidebar_content_p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            align-items: center;

            .sidebar_power_header {
              display: flex;
              align-items: flex-end;

              .sidebar_lock_icon {
                display: flex;
                position: absolute;
                transform: translate(40px, 0px);
              }
            }

            .power_title {
              font-family: Teko;
              font-size: 20px;
              font-weight: 500;
              opacity: 1;
              color: $grey2;
              width: 95%;
              text-align: center;
            }

            .power_footer {
              display: flex;
              width: 100%;
              justify-content: space-evenly;

              p {
                font-family: Poppins;
                font-size: 12px;
                color: $white;
                opacity: 0.5;
                font-weight: normal;
                width: 50px;
                line-height: 14px;
              }

              > div {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                  background-color: transparent;
                  border: none;
                  outline: none;
                  display: flex;
                  padding: 0;
                  margin: 0 2px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              .power_footer_count {
                background-color: $lightBlue;
                opacity: 0.6;
                width: 80px;
                height: 28px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                font-family: Poppins;
                border-radius: 10px;

                span {
                  font-weight: normal;
                  font-size: 12px;
                  color: $white;
                  margin-left: 5px;
                  font-family: Poppins;
                }
              }
            }
          }
        }

        button {
          background-color: transparent;
          border: none;
          outline: none;
          margin: 0;
          padding: 0;
          text-transform: capitalize;
          color: $lightBlue;
          border-bottom: 1px solid $lightBlue;
          line-height: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
