@import '../../scss/colors.scss';
.__Header{
    padding: 0.2em 0;
    background: rgba($color: $black, $alpha: 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .__brand-logo > img{
        width: 7.142em;
    }
    .__navlinks{
        list-style-type: none;
        >li{
            margin: 0 1.5em;
            text-transform: uppercase;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}