@import '../../scss/colors.scss';

.__BingoPreGame{
    .__main{
        .__main-left{
            .__title{
                font-size: 72px;
                line-height: 1em;
            }
            .__see-contesy-rules{
                background: rgba($color: $primary, $alpha: 0.1);
                padding: 0.7em 1.4em;
                border-radius: 2em;
            }
            .__progress-bar{
                padding: 0.25em;
                border-radius: 1em;
            }
            .__timer{
                border: dashed 2px #979797;
                border-radius: 0.8em;
                width: 17em;
                .__absolute{
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                }
                &::after{
                    padding-top: 120%;
                    content: '';
                    display: block;
                }
            }
            .__clock-image{
                width: 3em;
            }
            .__ball{
                background: url('../../assets/ball.png') center center;
                line-height: 1.1em;
                width: 3.4em;
                height: 3.4em;
                background-size: 100% 100%;
                border: 2px solid;
                border-radius: 50%;
            }
        }
        .__main-center{
            .__header{
                padding: 1.7em 4em 1.2em 4em;
                background: #17181a;
                border-radius: 0.7em;
                .__border{
                    height: 3em;
                    margin: 1em 3em;
                    width: 1px;
                    background: #979797;
                }
            }
            .__lottery-image{
                width: 6.29em;
                right: -1.5em;
                top: -1.5em;
            }
            .__live-draw{
                background: #1bbc86;
                padding: 0.15em 0.8em;
                border-radius: 0.2em;
            }
            .__in-progress-clock-image{
                width: 1.57em;
            }
        }
        
    }
}

.__BingoPreGame{
    .__bingo-game{
        margin: 1.5em;
        .__game-wrapper{
            background-color: #17181a;
            padding: 1.5em;
            border-radius: 8px;
        }
        .__game{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            >div{
                border: 1px solid $primary;
                background: #000000;
                &:nth-child(1), &:nth-child(2), &:nth-child(3),
                &:nth-child(4), &:nth-child(5){
                    font-size: 60px;
                    font-weight: 600;
                    color: $primary;
                    height: initial;
                    background: initial;
                    margin-bottom: 0.4em;
                    &::after, &::before{
                        content: initial;
                    }
                }
                &:nth-child(2), &:nth-child(3),
                &:nth-child(4){
                    border-right: none;
                    border-radius: initial;
                    border-left: none;
                }
                &:nth-child(1){
                    border-right: none;
                    border-radius: 8px 0 0 8px;
                }
                &:nth-child(5){
                    border-left: none;
                    border-radius: 0 8px 8px 0;
                }
            }
            // >div{
            //     font-size: 20px;
            //     width: 102px;
            //     height: 102px;
            //     display: flex;
            //     place-items: center;
            //     border-radius: 8px;
            //     position: relative;
            //     align-items: center;
            //     justify-content: center;
            //     >div{
            //         position: relative;
            //         z-index: 1;
            //         color: #1e1e1e;
            //     }
            //     &::after, &::before{
            //         content: '';
            //         position: absolute;
            //         border-radius: 50%;
            //     }
            //     &::before{
            //         width: 70%;
            //         height: 70%;
            //         background-image: linear-gradient(to top, #ff8f37, #b24e00);
            //     }
            //     &::after{
            //         width: 50%;
            //         height: 50%;
            //         background: #fff;
            //     }
            //     &.active{
            //         >div{
            //             color: inherit;
            //         }
            //         &::before{
            //             background-image: linear-gradient(to top, #1bbc86, #006644);
            //         }
            //         &::after{
            //             content: initial;
            //         }
            //     }
            //     &:nth-child(1), &:nth-child(2), &:nth-child(3),
            //     &:nth-child(4), &:nth-child(5){
            //         font-size: 60px;
            //         font-weight: 600;
            //         color: $primary;
            //         height: initial;
            //         background: initial;
            //         margin-bottom: 0.4em;
            //         &::after, &::before{
            //             content: initial;
            //         }
            //     }
            //     &:nth-child(2), &:nth-child(3),
            //     &:nth-child(4){
            //         border-right: none;
            //         border-radius: initial;
            //         border-left: none;
            //     }
            //     &:nth-child(1){
            //         border-right: none;
            //         border-radius: 8px 0 0 8px;
            //     }
            //     &:nth-child(5){
            //         border-left: none;
            //         border-radius: 0 8px 8px 0;
            //     }
            // }
        }
    }
}

.__BingoPreGame {
    .__main-right{
        box-shadow: -4px 0 38px 0 rgba(4, 4, 4, 0.58);
        background-color: #202124;
        margin-bottom: 1.5em;
        .__my-balance{
            background: rgba($color: $primary, $alpha: 0.1);
            padding: 0.7em 2em;
            border-radius: 2em;   
        }
        .__bingo-badge{
            border-radius: 1em;
            background-color: #35363a;
            min-width: 48px;
            top: -0.9em;
            left: calc(50% + 1.8em);
            transform: translateX(-50%);
        }
    }
}
.__BingoPreGame{
    .__bingo-game-2{
        background: #000000;
        max-width: 1138px;
        margin-bottom: 0.6em;
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        border: 0.5px solid $primary;
        border-radius: 6px;
        >*{
            flex: 1;
            border: 0.5px solid $primary;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}