@import '../../scss/colors.scss';

.blogSection{
    text-align: center;
    margin: 4rem 0 5em 0;
    a{
        text-decoration: underline !important;
        &:hover{
            color: $primary;
        }
    }
}
.container{
    width: 90%;
    margin: auto;
}