.root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    .main{
        display: flex;
        flex: 1;
        flex: 1;
        margin: 4.2857rem 6.94%;
        display: flex;
        gap: 4.2857rem;
        overflow: hidden;
    }
}