.__footer{
    background: linear-gradient(to bottom, #202124, #111111);
    padding: 4em 0;
    &.__style-2{
        background: #17181a;
    }
    .__footer-links{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        grid-gap: 1em;
        >div{
            font-weight: 300 !important;
        }
        >a{
            font-weight: 600;
        }
    }
    .__logo{
        grid-row-start: 1;
        grid-row-end: 3;
        width: 9.3em;
    }
    .__mediam{
        letter-spacing: 2px;
    }
    @media (max-width: 600px) {
        .__footer-links{
            grid-template-columns: auto;
            grid-gap: initial;
            >*{
                padding: 0.5em;
            }
            .elm-1{
                grid-row-start: 1;
            }
            .__add-border{
                &::after{
                    display: block;
                    content: '';
                    border-bottom: 1px solid;
                    width: 100px;
                    margin: auto;
                    padding: 0.5em;
                }
            }
            .elm-2{
                grid-row-start: 2;
            }
            .elm-3{
                grid-row-start: 3;
            }
            .elm-4{
                grid-row-start: 4;
            }
            .elm-5{
                grid-row-start: 5;
            }
        }
    }
}