@import "../../scss/colors.scss";

.__footer {
  background: linear-gradient(to bottom, $lightBlack, $black);
  padding: 4em 0;
  &.__style_2 {
    background: #17181a;
  }
  .__footer_links {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-gap: 1em;
    > div {
      font-weight: 300 !important;
    }
    > a {
      font-weight: 600;
    }
  }
  .__logo {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 9.3em;
  }
  .__logo_center {
    width: 65%;
    margin: 0 auto;
  }
  .__mediam {
    letter-spacing: 2px;
  }
  @media (max-width: 600px) {
    .__logo_center {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .__footer-links {
      grid-template-columns: auto;
      grid-gap: initial;
      > * {
        padding: 0.5em;
      }
      .elm_1 {
        grid-row-start: 1;
      }
      .__add_border {
        &::after {
          display: block;
          content: "";
          border-bottom: 1px solid;
          width: 100px;
          margin: auto;
          padding: 0.5em;
        }
      }
      .elm_2 {
        grid-row-start: 2;
      }
      .elm_3 {
        grid-row-start: 3;
      }
      .elm_4 {
        grid-row-start: 4;
      }
      .elm_5 {
        grid-row-start: 5;
      }
    }
  }
}

@media (max-width: 1024px) {
  .__footer {
    background: linear-gradient(to bottom, $lightBlack, $black);
    padding: 4em 0;
    &.__style_2 {
      background: #17181a;
    }
    .__footer_links {
      display: flex;
      flex-direction: column;
      grid-template-columns: none;
      justify-content: space-around;
      grid-gap: 1em;
      > div {
        font-weight: 300 !important;
      }
      > a {
        font-weight: 600;
      }
    }
    .__logo {
      grid-row-start: 1;
      grid-row-end: 3;
      width: 9.3em;
      display: none;
    }
    .__logo_center {
      width: 65%;
      margin: 0 auto;
    }
    .__mediam {
      letter-spacing: 2px;
      width: 73%;
      margin: 0 auto;
    }
    .__hr {
      width: 10%;
      border-top: 1px solid $lightBlack6;
      opacity: 0.3;
    }
  }
}

@media (max-width: 768px) {
  .__footer {
    background: linear-gradient(to bottom, $lightBlack, $black);
    padding: 4em 0;
    &.__style_2 {
      background: #17181a;
    }
    .__footer_links {
      display: flex;
      flex-direction: column;
      grid-template-columns: none;
      justify-content: space-around;
      grid-gap: 1em;
      > div {
        font-weight: 300 !important;
      }
      > a {
        font-weight: 600;
      }
    }
    .__logo {
      grid-row-start: 1;
      grid-row-end: 3;
      width: 9.3em;
      display: none;
    }
    .__logo_center {
      width: 65%;
      margin: 0 auto;
    }
    .__mediam {
      letter-spacing: 2px;
      width: 73%;
      margin: 0 auto;
    }
    .__hr {
      width: 12%;
      border-top: 1px solid $lightBlack6;
      opacity: 0.3;
    }
  }
}

@media (max-width: 414px) {
  .__footer {
    background: linear-gradient(to bottom, $lightBlack, $black);
    padding: 4em 0;
    &.__style_2 {
      background: #17181a;
    }
    .__footer_links {
      display: flex;
      flex-direction: column;
      grid-template-columns: none;
      justify-content: space-around;
      grid-gap: 1em;
      > div {
        font-weight: 300 !important;
      }
      > a {
        font-weight: 600;
      }
    }
    .__logo {
      grid-row-start: 1;
      grid-row-end: 3;
      width: 9.3em;
      display: none;
    }
    .__logo_center {
      width: 65%;
      margin: 0 auto;
    }
    .__mediam {
      letter-spacing: 2px;
      width: 73%;
      margin: 0 auto;
    }
    .__hr {
      width: 25%;
      border-top: 1px solid $lightBlack6;
      opacity: 0.3;
    }
  }
}
