.__footer{
    background-image: linear-gradient(to bottom, #202124, #111111);
    padding: 4em 0 5em 0;
    .__footer-links{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        grid-gap: 1em;
        >div{
            font-weight: 300 !important;
        }
        >a{
            font-weight: 600;
        }
    }
    .__logo{
        grid-row-start: 1;
        grid-row-end: 3;
        width: 9.3em;
    }
}