@import "../../scss/colors.scss";

.select_container {
  position: relative;
}

.select_container:after {
  content: ">";
  right: 5px;
  top: -6px;
  border: 10px solid transparent;
  position: absolute;
  color: $white;
  font-size: 30px;
  transform: rotate(90deg);
}

select::-ms-expand {
  display: none;
}

.select_container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid $white;
  height: 48px;
  line-height: 48px;
  padding: 0px 25px 0px 18px;
  font-size: 18px;
  -ms-word-break: normal;
  word-break: normal;
  color: $white;
  border-radius: 12px;
}

.selected select {
  color: $primary;
  border-color: $primary;
}

.selected:after {
  color: $primary;
}
