@import "../../scss/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;

    .container_left {
      display: flex;
      flex-direction: column;
      // flex: 0.67;
      width: 1024px;
      margin: 60px 0 60px 9em;

      h2 {
        font-size: 32px;
        margin: 0;
        padding: 0;
      }

      .container_left_header_2 {
        display: flex;
        align-items: center;
        font-size: 20px;

        .line {
          width: 37px;
          height: 2px;
          background-color: $primary;
          margin-left: 11px;
        }
      }

      .container_top {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-wrap: wrap;
        font-size: 20px;
        margin: 27px 0;

        .container_top_1 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 10px 0;
          justify-content: space-between;
        }
      }

      .container_body {
        display: flex;
        flex-direction: column;
        flex: 1;

        > div {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          max-height: 800px;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden scroll;
          width: 100%;

          &::-webkit-scrollbar {
            width: 0;
          }
        }

        .card_header {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $lightBlack;
          width: 100%;
          padding: 14px 0;
          border-radius: 5px;
          box-shadow: 0 8px 25px 0 $lightBlack7;

          p {
            font-size: 16px;
          }
        }

        .card_body {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px;
          width: 100%;

          > p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
          }
        }
      }

      .container_footer {
        display: flex;
        flex-direction: column;
        margin: 0 0 3em 0;

        .container_footer_header {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          transform: translate(-20px, 20px);

          .container_footer_title {
            display: flex;
            flex-direction: column;
            transform: translate(10px, -20px);

            h2 {
              font-size: 20px;
              font-weight: normal;
              margin: 0;
              padding: 0;
            }

            .separator {
              width: 52px;
              border-bottom: 2px solid $primary;
              margin-top: 2px;
            }
          }

          svg {
            transform: translate(0px, 2px);
          }
        }

        .container_footer_1 {
          display: flex;
          flex-direction: column;
          background-color: $black2;
          padding: 10px 40px;
          border-radius: 9px;
          align-items: flex-start;

          .container_footer_header_1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin: 20px 0;
            width: 80%;
            text-align: left;

            p {
              display: flex;
              align-items: flex-start;
              font-size: 14px;

              &:nth-child(1) {
                width: 120px;
              }

              &:nth-child(2) {
                width: 275px;
              }

              &:nth-child(3) {
                width: 220px;
              }

              svg {
                margin-right: 5px;
              }
            }
          }

          .container_footer_body {
            display: flex;
            flex-direction: column;
            width: 100%;

            p {
              font-size: 14px;
              display: flex;
              align-items: center;
              margin: 10px 0;

              span {
                width: 6px;
                height: 6px;
                background-color: $primary;
                border-radius: 50%;
                margin: 5px 10px 0 0;
              }
            }

            button {
              background-color: $primary;
              border: none;
              outline: none;
              display: flex;
              flex-direction: row;
              padding: 13px 24px;
              width: 210px;
              font-size: 16px;
              font-weight: 500;
              border-radius: 12px;
              margin: 25px 0;

              &:hover {
                cursor: pointer;
              }

              img {
                width: 30px;
                height: 20px;
                position: relative;
                margin-left: 10px;
              }
            }

            .container_body_img {
              width: 421px;
              height: 291px;
              position: absolute;
              display: flex;
              align-self: flex-end;
              transform: translate(40px, -19px);
            }
          }
        }
      }

      .partner_logo {
        width: 250px;
        height: 40px;
        display: flex;
        align-self: flex-end;
        margin: 20px 0;
      }
    }

    .sidebar_container {
      > div {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .sidebar_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0 0 0;

        h2 {
          color: $primary;
          font-family: Teko;
          font-size: 38px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          margin: 0;
        }

        .sidebar_header_1 {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 25px;
            height: 25px;
            margin-right: 6px;
          }

          p {
            font-family: Poppins;
            font-size: 14px;
            color: $lightGrey3;
            opacity: 0.9;

            span {
              background-image: linear-gradient(277deg, #fb6e00, #fa3800);
              font-family: Teko;
              font-size: 18px;
              font-weight: 600;
              background-clip: text;
              -webkit-text-fill-color: transparent;

              svg {
                margin: 0 3px;
                transform: translate(0, 1px);
              }
            }
          }
        }

        .sidebar_circles {
          display: flex;
          flex: 1;
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-top: 20px;

          svg {
            margin: 0 10px;
          }
        }
      }

      .sidebar_button {
        background-color: $primary;
        border: none;
        outline: none;
        color: $darkblack;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 16px 0;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        border-radius: 12px;
        margin: 22px 0 0 0;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
