@media (min-width: 1201px){
    .__hide-only-on-large{
        display: none;
    }
    .__flex-on-small{
        display: flex;
    }
}
@media (max-width: 1200px){
    .__column-on-large{
        flex-direction: column;
    }
    .__hide-on-large{
        display: none !important;
    }
    .__container-2, .__container{
        width: 90%;
    }
    .__m-0-on-large{
        margin: 0 !important;
    }
    .__block-on-large{
        display: block;;
    }
    .__viewport-large-title{
        font-size: 52px !important;
    }
    .__small-on-large{
        font-size: 15px !important;
    }
    .__mediam-on-large{
        font-size: 16px !important;
    }
    .__h5-on-large{
        font-size: 20px !important;
    }
    .__very-small-on-large{
        font-size: 12px !important;
    }
}
@media (max-width: 1023px){
    .__column-on-mediam{
        flex-direction: column;
    }
    .__hide-on-mediam{
        display: none !important;
    }
    .__m-0-on-mediam{
        margin: 0;
    }
    .__block-on-mediam{
        display: block;;
    }
}
@media (max-width: 767px){
    .__container-2, .__container{
        width: calc(100% - 2em);
    }
    .__column-on-small{
        flex-direction: column;
    }
    .__hide-on-small{
        display: none;
    }
    .__m-0-on-small{
        margin: 0;
    }
    .__block-on-small{
        display: block;;
    }
}