.__h2, .__h3, .__h4, .__h5{
    line-height: 1.4em;
}
.__h2{
    font-size: 2.85em;
}
.__h3{
    font-size: 2.1em;
}
.__h4{
    font-size: 1.71em;
}
.__h5{
    font-size: 1.42em;
}
.__h6{
    font-size: 1.28em;
}
.__bold{
    font-weight: 600;
}
.__bolder{
    font-weight: 700;
}
.__mediam{
    font-size: 1.14em;
    line-height: 1.8em;
}
.__dark-white-color{
    color: #f2f2f2;
}
.__light-black-color{
    color: $lightBlack;
}
.__primary{
    background: $primary;
}
.__uppercase{
    text-transform: uppercase;
}
.__btn{
    padding: 0.315em 1.5em;
    @extend .__primary;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid $primary;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    &.__style-2{
        background: transparent;
        color: $primary;
    }
}
.__primary-color{
    color: $primary;
}
.__unordered-list{
    list-style-type: none;
    padding: 0;
    >li{
        margin: 1.2em 0;
        padding-left: 2.4em;
        position: relative;
        &::after, &::before{
            content: '';
            min-width: 1em;
            height: 1em;
            background: $primary;
            position: absolute;
            top: 0.21em;
            border-radius: 0.2em;
        }
        &::before{
            left: 0;
        }
        &::after{
            display: none;
            left: 0;
        }
    }
}
.__chevron-right::after {
	border-style: solid;
	border-width: 3px 3px 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.24em;
	position: relative;
	transform: rotate(45deg);
	vertical-align: center;
	width: 0.45em;
}