@import '../../scss/colors.scss';

.__power_center {
    .__power_center_banner {
        background-image: url('../../assets/power-center-banner.png');
        background-size: 100% auto;
        background-position: center;

        .__power_center_banner_left {
            display: flex;
            flex-direction: row;

            .__power_center_banner_left_icon {
                display: inherit;
                align-items: flex-end;
            }

            .__power_center_banner_left_title {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .__power_center_banner_left_title_main {
                    width: 502px;
                    height: 96px;
                    font-family: Teko;
                    font-size: 96px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: $grey2;
                }

                .__power_center_banner_left_title_sub {
                    height: 23px;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    color: $primary;
                }
            }
        }

        .__power_center_banner_footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 50px;
            margin-top: 60px;
            background-color: $black5;

            .__power_center_banner_footer_deposit {
                display: flex;
                width: 10%;
                justify-content: center;
                align-items: center;
                font-family: Teko;
                font-size: 22px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $grey2;
                border-right: 1px solid $grey;
                cursor: pointer;
            }

            .__power_center_banner_footer_cash_and_balance_outer {
                display: flex;
                width: 12%;
                justify-content: center;
                align-items: center;
            }

            .border_right {
                border-right: 1px solid $grey;

            }

            .__power_center_banner_footer_cash_and_balance_icon {
                margin-top: 4px;
            }

            .__power_center_banner_footer_cash_and_balance_inner {
                margin-left: 7px;

                .__power_center_banner_footer_power_and_cash_balance {
                    width: 52px;
                    height: 23px;
                    font-family: Teko;
                    font-size: 22px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $grey2;
                }
    
                .__power_center_banner_footer_power_and_cash_balance_title {
                    width: 89px;
                    height: 17px;
                    opacity: 0.6;
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $white;
                }
            }

            .__three_dots_div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 40px;
                z-index: 1;
                .__three_dots {
                    background: transparent;
                    width: 20px;
                    outline: none;
                    border: none;
                    padding: 0;
                    display: block;
                    
                    > span {
                    width: 4px;
                    height: 4px;
                    margin: 0 0 4px;
                    border-radius: 3px;
                    background-color: $primary;
                    display: block;
                    margin-left: 7px;
                    }
                }
            }

            .__currency_menu {
                width: 190px;
                height: 190px;
                border-radius: 6px;
                box-shadow: 0 2px 14px 0 $black5;
                border: solid 1px $black;
                background-color: $lightGrey;
                z-index: 1;
                position: absolute;
                right: 20px;

                :first-child {
                    font-weight: 600;
                    cursor: default;
                }

                div {
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    width: 190px;
                    height: 46px;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $grey2;
                    cursor: pointer;
                }

                .__currency_menu_item:hover {
                    background-color: $lightBlue6;
                }

                .__currency_menu_selected {
                    background-color: $lightBlue6;
                }
            }
        }
    }
}

@media(min-width: 900px){
    .__PowerCenter{
        .__power-center-links{
            overflow: hidden;
            background-color: rgba(17, 17, 17, 0.3);
            a{
                padding: 1em 7em;
                transform: skew(-45deg);
                border: 2px solid transparent;
                span{
                    transform: skew(45deg);
                }
                &.active{
                    color: $primary;
                    border-color: currentColor;
                    background-color: rgba(99, 99, 99, 0.24);
                }
                &:first-child{
                    margin-left: -4em;
                    &.active{
                        border-top-right-radius: 1em;
                        border-bottom-right-radius: 0.4em;
                    }
                }
                &:last-child{
                    margin-right: -4em;
                    &.active{
                        border-top-left-radius: 0.4em;
                        border-bottom-left-radius: 1em;
                    }
                }
            }
        }
    }
}
@media (max-width: 899px){
    .__PowerCenter{
        .__power-center-links{
            margin: 5em 1em;
            justify-content: space-around;
            a{
                font-size: 20px;
                text-align: initial;
                flex: initial;
            }
            a.active{
                color: $primary;
                border: 2px solid transparent;
                border-bottom-color: $primary;
            }
            a:first-child{
                margin-right: 1em;
            }
        }
    }
}

@media (max-width: 365px){
    .__PowerCenter{
        .__power-center-links{
            margin: 3em 1em;
            a{
                font-size: 16px;
            }
        }
    }
}