@import '../../scss/colors.scss';

.__table-wrapper{
    .__badges-wrapper{
        table-layout: fixed;
        margin: auto;
        border-spacing: 1em;
        td{
            min-width: 25%;
        }
    }
    .__main-grid{
        .__subtitle{
            color: rgba(242, 242, 242, 0.6);
        }
        .__entries{
            .__subtitle{
                width: 5em;
            }
            .__bar{
                background-color: rgba(242, 242, 242, 0.1);
                padding: 1px 55.1px 1px 0.9px;
                border-radius: 3px;
                width: 80px;
                height: 6px;
                >div{
                    border-radius: 3px;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.__table-wrapper{
    @media (max-width: 1200px){
        .__badges-wrapper svg{
            display: none;
            white-space: nowrap;
            clear: both;
        }
    }
}

.__table-wrapper{
    .__main-grid{
        display: grid;
        grid-template-rows: 1fr 1fr;
        >div{
            padding: 4.5px 24px;
            .__info-icon{
                top: -1em;
            }
            align-items: center;
            &:nth-child(odd){
                background: rgba(17, 17, 17, 0.8);
            }
            &:first-child{
                background: #111111;
            }
            display: grid;
            grid-template-columns: 330px 18% 20% 15% auto;            
        }
    }
}

.__table-wrapper{
    .__main-grid{
        @media (max-width: 1200px) {
            >div{
                display: flex;
                background: linear-gradient(to bottom, #111111, #232529);
                margin:  1em 0;
                flex-wrap: wrap;
                padding: 5px 16px 16px 16px;
                border-radius: 6px;
                &:not(:first-child){
                    margin: 1em 0;
                }
                .__type{
                    width: 100%;
                    >.__game-image{
                        background: $primary;
                        top: -10px;
                        padding: 2.5px 5px;
                        border-radius: 0 0 1em 1em;
                        position: relative;
                        >svg{
                            color: #111111;
                            width: 16px;
                        }
                    }
                    .__info-icon{
                        top: 0.4em;
                        margin-left: 0.2em !important;
                    }
                    .__main{
                        display: flex;
                        justify-content: space-between;
                        flex: 1;
                        .__h6{
                            font-size: 16px;
                        }
                    }
                }
                .__contest{
                    position: absolute;
                    top: 28px;
                    left: 57px;
                    font-size: 18px;
                }
                .__entries{
                    width: 50%;
                    margin: 1em 0;
                }
                .__prizes{
                    width: 50%;
                    text-align: right;
                }
                .__fee-charges{
                    background-image: linear-gradient(to bottom, #fb6e00, rgba(251, 110, 0, 0.6));
                    margin-left: auto;
                    padding: 2px;
                    border-radius: 1em;
                    cursor: pointer;
                    font-size: 14px;
                    width: 8.57em;
                    justify-content: center;
                    display: flex;
                    .__flex{
                        margin: auto;
                    }
                }
            }
        }
    }
}