.base-timer {
    position: relative;
    width: 4.29em;
    height: 4.29em;
    svg{
        width: 100%;
        height: 4.29em;
    }
    .base-timer__circle {
        fill: none;
        stroke: none;
    }
    .base-timer__path-elapsed {
        stroke-width: 10px;
        stroke: currentColor;
        stroke-opacity: 0.1;
    }
    .base-timer__path-remaining{
        stroke-width: 10px;
        stroke-linecap: round;
        transform: rotate(90deg) scaleY(-1);
        transform-origin: center;
        transition: 1s linear all;
        stroke: currentColor;
    }
    .__time-left{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        line-height: 1em;
    }
}